<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

</head>

<body>
   <div class="parent">
      <div class="part1">
         <div class="header">
            <div class="heading">Sentiment Analyzer</div>
         </div>
      </div>

      <div class="part2">
         <div class="form">

            <h2 class="login">Sign Up !</h2>

            <form action="/return_id" method="post">
               
               <div class="form-group">
                  <label for="name" id="name-label"> First Name:</label>
                  <input type="name" id="name" name="name" placeholder=" First Name" >
               </div>

               <div class="form-group">
                  <label for="lastname" id="lastname-label">Last Name:</label>
                  <input type="lastname" id="lastname" name="lastname" placeholder=" Last Name" >
               </div>

               <div class="form-group">
                  <label for="phonenum" id="phonenum-label">Contact No.:</label>
                  <input type="phonenum" id="phonenum" name="phonenum" placeholder="Contact No." >
               </div>

               <div class="form-group">
                  <label for="email" id="email-label">Email:</label>
                  <input type="email" id="email" name="email" placeholder="Email" required>
               </div>

               <div class="form-group">
                  <label for="password" id="password-label">Password:</label>
                  <input type="password" id="password" name="password" placeholder="Password" required>
               </div>

               <div class="button-group">
                  <button type="submit">Submit</button>
               </div>
               
            </form>

         </div>

         <div class="photo">
            <div class="img2">
               <img src="{{ url_for('static', filename='images/sideicon.jpg') }}" alt="Image Description">
            </div>
         </div>
      </div>
   </div>


   <script>
      // JavaScript code to toggle label visibility when typing in the input fields
      const emailInput = document.getElementById('email');
      const emailLabel = document.getElementById('email-label');
      emailInput.addEventListener('input', () => {
         emailLabel.classList.toggle('active', emailInput.value !== '');
      });

      const passwordInput = document.getElementById('password');
      const passwordLabel = document.getElementById('password-label');
      passwordInput.addEventListener('input', () => {
         passwordLabel.classList.toggle('active', passwordInput.value !== '');
      });

      const nameInput = document.getElementById('name');
      const nameLabel = document.getElementById('name-label');
      nameInput.addEventListener('input', () => {
         nameLabel.classList.toggle('active', nameInput.value !== '');
      });
      const phonenumInput = document.getElementById('phonenum');
      const phonenumLabel = document.getElementById('phonenum-label');
      phonenumInput.addEventListener('input', () => {
         phonenumLabel.classList.toggle('active', phonenumInput.value !== '');
      });
      const lastnameInput = document.getElementById('lastname');
      const lastnameLabel = document.getElementById('lastname-label');
      lastnameInput.addEventListener('input', () => {
         lastnameLabel.classList.toggle('active', lastnameInput.value !== '');
      });
   </script>
</body>

</html>